.imgLateral{
  height: 190px;
  /* width: 100%; */
  /* width: 100%; */
  /* max-width: 100%; */
  display: block;
  /* padding-right: 20px; */
  margin-top: 20px;
  border-radius: 15px !important;
}
div{
  margin-left: 20px;
  margin-right: 20px;
}
.divtop{
  margin-top: 20px;

}
/* .imgLateral.top{ */
 /* padding-bottom: 20px; */
/* } */
.paragrafo{
  font-family: 'texto';
  font-size:1.05rem;
  letter-spacing: 0,05em;
  color: #fff;
  padding-top: 140px;
  margin-left: 40px;
  /* background-color: red; */
}
.subtitulo{
  font-family: 'texto';
  font-size:0.75rem;
  letter-spacing: 0,05em;
  color: #fff;
  /* margin-top: 7px; */
  margin-left: 40px;
}
