.imgLateral{
  height: 190px;
  width: 100%;
  /* width: 100%; */
  /* max-width: 100%; */
  display: block;
  /* padding-right: 20px; */
  border-radius: 15px !important;
}
div{
  margin-left: 20px;
  margin-right: 20px;
}
.divtop{
  margin-top: 20px;

}
/* .imgLateral.top{ */
 /* padding-bottom: 20px; */
/* } */
