<div class="grid grid-nogutter">
  <div class="col-12 md:col-10 lg:col-9 sm:col-12 xl:col-9">
      <div class="grid grid-nogutter">
        <div class="col-12 sm:col-12 md:col-12 lg:col-8 xl:col-8 first-gutter carrousel">
          <!-- <app-carrousel></app-carrousel> -->
          1
         </div>
         <div class="col-12 sm:col-12 md:col-4 lg:col-4 xl:col-4 lt-nees">
          <!-- <app-lateral-noticia></app-lateral-noticia> -->
          1
         </div>
          <div class="col-12  sm:col-12 md:col-8 lg:col-8 xl:col-8 ft-news">
            <!-- <app-down-noticia></app-down-noticia> -->
            1
          </div>

          <div class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12 first-gutter carrousel">

            <app-tabela-noticia></app-tabela-noticia>
            4
           </div>
      </div>
  </div>
  <div class="col-12 md:col-2 lg:col-3 sm:col-12 xl:col3 nt-news ">
    <h1>saljkhdsajlj</h1>
    <!-- <app-list-noticia></app-list-noticia> -->

  </div>
</div>


