.slideConfig{
  /* min-height: 100%; */
  height: 370px;
  /* background-image: url(../../../assets/img03Slide.jpg); */
  /* background-size: 500px; */
  background-repeat: no-repeat;
  /* image-rendering: crisp; */
  background-size: cover;
  border-radius: 15px !important;
}
.tituloParagrafo{
  color: azure;
  /* padding-left: 20px; */
  z-index: 111;
  margin-left: 40px;
  margin-top: 300px;
  font-family: 'texto';
  font-size:1.05rem;
  /* margin-top: 300px !important; */
}
.imgSlide{
  display: inline-block;
  height: 350px;
}
.p-link{
  background: #8b5cf6 !important;
}
.keyrightLeft{
  animation: 2s rightLeft forwards;
}
@keyframes rightLeft {
  from{
    opacity: 0;
    transform: translate3d(-60px, 0,0);
  }
  to{
    opacity: 1;
    transform: translate3d(0, 0,0);
  }
}
