
<ngx-smart-modal #videoModal identifier="modalEntrar" customClass="medium-modal nsm-dialog-animation-ltr nsm-centered">
  <form class="formModal" (ngSubmit)="login()" [formGroup]="formUser">
      <h1>Entrar</h1>
      <div class="ctnCadastro">
        <label for="email" class="lbCadastro tituloParagrafoReduzidoLabel">Email</label>
        <input type="text" id="email" name="email" pInputText class="inputConfig" formControlName="email" />
        <label for="senha" class="lbCadastro tituloParagrafoReduzidoLabel">Senha</label>
        <input type="password"  id="senha" name="senha" pPassword class="inputConfig" formControlName="senha" />
        <button pButton  (click)="videoModal.close()" label="Entrar" class="p-button-raised"  type="submit">Entrar</button>
      </div>
  </form>
  </ngx-smart-modal>

